div.marttiphpbb-calendarinlineview
{
	position: relative;
	width: 100%;
}

div.marttiphpbb-calendarinlineview div.weekdays
{
	position: absolute;
	top: 0;
	left: 0;
	display:flex;
	width: 100%;
	height: 100%;
}

div.marttiphpbb-calendarinlineview div.day
{
	flex: 1;
	margin: .15em;
	border-radius: .6em;
	background: #d7d7d7;
	color: #444;
	display: flex;
}

div.marttiphpbb-calendarinlineview div.day div.day-info
{
	padding: .4em .8em;
}

div.marttiphpbb-calendarinlineview div.day div.day-info-bottom
{
	align-self: flex-end;
}

div.marttiphpbb-calendarinlineview div.day div.day-info.small
{
	padding: .2em .8em;
}

div.marttiphpbb-calendarinlineview div.day div.day-info.mid
{
	padding: .3em .8em;
}

div.marttiphpbb-calendarinlineview div.day-info div.monthday
{
	float: left;
}

div.marttiphpbb-calendarinlineview div.day-info-small div.monthday
{
	font-size: 1.1em;
}

div.marttiphpbb-calendarinlineview div.day-info-mid div.monthday
{
	font-size: 1.4em;
}

div.marttiphpbb-calendarinlineview div.day-info-big div.monthday
{
	font-size: 1.8em;
}

div.marttiphpbb-calendarinlineview div.day-info div.weekday
{
	float: left;
	padding: .1em .2em;
}

div.marttiphpbb-calendarinlineview div.day-info-small div.weekday
{
	font-size: .8em;
}
div.marttiphpbb-calendarinlineview div.day-info-medium div.weekday
{
	font-size: .9em;
}
div.marttiphpbb-calendarinlineview div.day-info-big div.weekday
{
	font-size: 1.1em;
}

div.marttiphpbb-calendarinlineview div.day-info div.moon
{
	float: right;
	padding: .1em .2em;
	margin: -.5em;
}

div.marttiphpbb-calendarinlineview div.day-info-small div.moon
{
	font-size: .8em;
}

div.marttiphpbb-calendarinlineview div.day-info-mid div.moon
{
	font-size: 1em;
}

div.marttiphpbb-calendarinlineview div.day-info-big div.moon
{
	font-size: 1.3em;
}

div.marttiphpbb-calendarinlineview div.day-info div.moon span
{
	z-index: 1;
}

div.marttiphpbb-calendarinlineview div.day-info div.isoweek
{
	font-style: italic;
	float: right;
	clear: right;
	padding: .1em .2em;
}

div.marttiphpbb-calendarinlineview div.day-info-small div.isoweek
{
	font-size: 0.7em;
}

div.marttiphpbb-calendarinlineview div.day-info-mid div.isoweek
{
	font-size: 0.8em;
}

div.marttiphpbb-calendarinlineview div.day-info-big div.isoweek
{
	font-size: .9em;
}

@media only screen and (max-width: 500px), only screen and (max-device-width: 500px)
{
	div.marttiphpbb-calendarinlineview div.moon > span,
	div.marttiphpbb-calendarinlineview div.isoweek,
	div.marttiphpbb-calendarinlineview div.weekday
	{
		display: none;
	}
}

div.marttiphpbb-calendarinlineview div.day.even-month
{
	color: rgb(12, 56, 133);
	background: rgb(202, 220, 235);
}

div.marttiphpbb-calendarinlineview div.day.sat,
div.marttiphpbb-calendarinlineview div.day.sun
{
	background: rgb(199, 204, 209);
}
div.marttiphpbb-calendarinlineview div.day.even-month.sat,
div.marttiphpbb-calendarinlineview div.day.even-month.sun
{
	background-color: #94c2e7;
}

div.marttiphpbb-calendarinlineview div.eventrows
{
	display: flex;
	flex-direction: column;
	margin: .3em 0;
}

div.marttiphpbb-calendarinlineview div.evrow-info-big
{
	height: 3em;
}

div.marttiphpbb-calendarinlineview div.evrow-info-mid
{
	height: 2em;
}

div.marttiphpbb-calendarinlineview div.evrow-info-small
{
	height: 1.7em;
}

div.marttiphpbb-calendarinlineview div.evrow-fill
{
	height: .7em;
}

div.marttiphpbb-calendarinlineview div.evrow
{
	display: flex;
	justify-content: space-evenly;
	z-index: 1;
	height: 2.3em;
}

div.marttiphpbb-calendarinlineview div.f-con
{
	min-width: 0;
}

div.marttiphpbb-calendarinlineview div.f-con div.ev
{
	margin: .15em;
	background: rgb(238, 246, 255);
	border: 1px solid rgb(123, 163, 200);
	border-left-style: dashed;
	border-right-style: dashed;
	min-width: 0;
}

div.marttiphpbb-calendarinlineview div.evrow:nth-child(even) div.f-con div.ev
{
	background: rgb(220, 235, 255);
}

div.marttiphpbb-calendarinlineview div.ev.ev-start div.ev-overlay
{
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
}

div.marttiphpbb-calendarinlineview div.ev.ev-end div.ev-overlay
{
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
}

div.marttiphpbb-calendarinlineview div.ev div.ev-overlay
{
	width: 100%;
	height: 100%;
}

div.marttiphpbb-calendarinlineview div.ev div.ev-overlay:hover,
div.marttiphpbb-calendarinlineview div.ev div.ev-overlay.hover
{
	background: rgba(255, 255, 255, 0.5);
}

div.marttiphpbb-calendarinlineview div.ev a
{
	display:inline-block;
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	padding-left: .3em;
	min-width: 0;
}

div.marttiphpbb-calendarinlineview div.f-con div.ev.ev-start
{
	border-top-left-radius: .5em;
	border-bottom-left-radius: .5em;
	border-left-style: solid;
}
div.marttiphpbb-calendarinlineview div.f-con div.ev.ev-end
{
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	border-right-style: solid;
}

div.marttiphpbb-calendarinlineview div.flex-1
{
	flex: 1;
}
div.marttiphpbb-calendarinlineview div.flex-2
{
	flex: 2;
}
div.marttiphpbb-calendarinlineview div.flex-3
{
	flex: 3;
}
div.marttiphpbb-calendarinlineview div.flex-4
{
	flex: 4;
}
div.marttiphpbb-calendarinlineview div.flex-5
{
	flex: 5;
}
div.marttiphpbb-calendarinlineview div.flex-6
{
	flex: 6;
}
div.marttiphpbb-calendarinlineview div.flex-7
{
	flex: 7;
}
div.marttiphpbb-calendarinlineview div.flex-8
{
	flex: 8;
}
div.marttiphpbb-calendarinlineview div.flex-9
{
	flex: 9;
}
div.marttiphpbb-calendarinlineview div.flex-10
{
	flex: 10;
}
div.marttiphpbb-calendarinlineview div.flex-11
{
	flex: 11;
}
div.marttiphpbb-calendarinlineview div.flex-12
{
	flex: 12;
}
div.marttiphpbb-calendarinlineview div.flex-13
{
	flex: 13;
}
div.marttiphpbb-calendarinlineview div.flex-14
{
	flex: 14;
}
div.marttiphpbb-calendarinlineview div.flex-15
{
	flex: 15;
}
div.marttiphpbb-calendarinlineview div.flex-16
{
	flex: 16;
}
div.marttiphpbb-calendarinlineview div.monthrow
{
	display: flex;
	justify-content: space-evenly;
	z-index: 1;
	height: 1.8em;
	margin: .3em 0;
}
div.marttiphpbb-calendarinlineview div.month
{
	height: 100%;
	line-height: 1.8em;
	text-align: center;
	border-radius: .6em;
	background: #d7d7d7;
	color: #444;
	margin: 0 .15em;
}
div.marttiphpbb-calendarinlineview div.month.even-month
{
	color: rgb(12, 56, 133);
	background: rgb(202, 220, 235);
}
div.marttiphpbb-calendarinlineview div.month span
{
	display: inline-block;
	vertical-align: middle;
}
