<div class="marttiphpbb-calendarinlineview">
	<div class="weekdays">
		{%- for d in var.days -%}
			<div class="day {{ d.weekday_class }}{%- if d.month % 2 == 0 %} even-month{%- endif -%}">
				{%- block day_info -%}
				<div class="day-info{%- block day_info_class -%}{%- endblock -%}">
					{%- block day_info_monthday -%}
					<div class="monthday">
						{%- if d.link -%}
							<a href="{{- d.link -}}">
								{{- d.monthday -}}
							</a>
						{%- else -%}
							{{- d.monthday -}}
						{%- endif -%}
					</div>
					{%- endblock day_info_monthday -%}
					{%- block day_info_weekday -%}
					<div class="weekday">
						{%- block day_info_weekday_text -%}
						{{- d.weekday_abbrev -}}
						{%- endblock day_info_weekday_text -%}
					</div>
					{%- endblock day_info_weekday -%}
					{%- block day_info_moon_iso -%}
						{%- include '@marttiphpbb_calendarinlineview/include/moon_iso.html' -%}
					{%- endblock day_info_moon_iso -%}
				</div>
				{%- endblock day_info -%}
			</div>
		{%- endfor -%}
	</div>
	<div class="eventrows">
		<div class="{%- block evrow_fill_class_top -%}evrow-fill{%- endblock -%}"></div>
		{%- for er in var.eventrows -%}
			<div class="evrow">
			{%- for seg in er -%}
				<div class="f-con flex-{{- seg.flex -}}">
				{%- if seg.topic_id -%}
					<div class="ev forum-{{- seg.forum_id }}{%- if seg.s_start %} ev-start{%- endif -%}{%- if seg.s_end %} ev-end{%- endif -%}" data-topic="{{- seg.topic_id -}}" data-forum="{{- seg.forum_id -}}">
						<div class="ev-overlay">
							<a href="{{- seg.topic_link -}}" title="{{- seg.topic_title -}}">
								{{- seg.topic_title -}}
							</a>
						</div>
					</div>
				{%- endif -%}
				</div>
			{%- endfor -%}
			</div>
		{%- endfor -%}
		<div class="{%- block evrow_fill_class_bottom -%}evrow-fill{%- endblock -%}"></div>
	</div>
</div>
